.App {
  text-align: center;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

section{
  flex-grow: 1;
}

header{
  padding: 40px 0;
}

header nav ul{
  margin: 0;
  padding: 0;

  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

header nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(41, 41, 41);
}

header nav ul li a:hover

.active{
  color: white;
  background-color: rgb(41, 41, 41);
  border-radius: 2rem;
  padding: 10px 20px;
}